.homeflex{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-around;
}

.homebottom{
    display: flex;
    flex-direction: row;
    min-width: 100%;
    justify-content: space-around;
    margin-top: 20px;
}

.homeprojects{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.homeprojects table{
    box-shadow: 8px, 8px, black;
}

.homeblogs{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.projtop{
    color:azure;
    font-family: "Arial Black";
    font-size: 20px;
    text-indent: 10px;
    background-color: darkslategray;
}

.protitle{
    font-family: "Courier New";
    font-size: 15px;
    text-align: center;
    background-color: lightgrey;
    padding-top: 10px;
    border-bottom: 1px, solid, black;
    font-weight: 545;
}

.buttoncol{
    width:20%;
}

h2{
    font-weight: bolder;
    font-size: 40px;
}

.homehead p{
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}