/*GENERA:*/

h2, p{
    font-family: "Courier New";
}

/*NAVBAR*/

.header{
    background: rgba(0,0,0,0.8);
}

.logo{
    display:inline-block;
    margin: 0 auto;
    max-height: 75px;
    max-width: 75px;
}

.navbar {
    text-align: center;
    background: rgba(0,0,0,0.8);
}

.navbar-default .navbar-nav{
    display: inline-block;
    float:inherit;
    font-family: verdana;
    text-transform: uppercase;
    font-size: 1.3em;
}

.navbar-default .navbar-nav li{
    display:inline-block;
    float: none;
}

ul.nav.navbar-nav a:hover{
    background-color: darkgray;
    color: black;
}

/*BODY*/

/*textarea {
    width: 100%;
    box-sizing:border-box;
}*/

/*span {
    display: block;
    overflow: hidden;
}*/

body{
    padding-top: 130px !important; /*for navbar */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

#main{
    display: flex;
    flex-grow: 1;
    padding: 20px;
}

.content{
    flex: 10 1 0%;
    overflow: scroll;
    height: 100vh;
}

/*SIDE BARS*/

.leftBar{
    flex: 2 1 0%;
    order: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -15px;
    margin-right: 10px;
}

.profilePic{
    border-radius: 50%;
    max-width: 70%;
    min-width: 110px;
    box-shadow: -8px 4px 6px black;
    border: 10px solid darkslategrey;
    border-top-left-radius: 4px;
    margin-bottom: 15px;
}

.rightBar{
    flex: 1 1 0%;
}

.iconflex{
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
}

.iconflex img{
    min-height: 50px;
    margin: 10px;
}

.head, .footer{
    text-align: center;
    padding: 20px;
}

.picbar ul{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

/*RESUME PAGE*/
.resumeflex{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    width: inherit;
}

.resumeflex h1{
    
}

.resumeflex p{
    
}

.resume{
}


