/*NAVBAR*/

.header{
    background: rgba(0,0,0,0.8);
}

.logo{
    display:inline-block;
    margin: 0 auto;
    max-height: 75px;
    max-width: 75px;
}

.navbar {
    text-align: center;
    background: rgba(0,0,0,0.8);
}

.navbar-default .navbar-nav{
    display: inline-block;
    float:inherit;
    font-family: verdana;
    text-transform: uppercase;
    font-size: 1.3em;
}

.navbar-default .navbar-nav li{
    display:inline-block;
    float: none;
}

ul.nav.navbar-nav a:hover{
    background-color: darkgray;
    color: black;
}

/*BODY*/

body { 
    padding-top: 130px !important; 
}

.test{
    text-align: center;
}

label {
    float: left;
    padding-right:10px;
}

.contact{
    min-width: 20%;
    max-width: 100%;
}

textarea {
    width: 100%;
    box-sizing:border-box;
}

span {
    display: block;
    overflow: hidden;
}