tables, td, tr{
    
}

.pTables{
    
}

.pTitle{
    width: 40%;
    text-align: left;
}

.pDate{
    width: 60%;
    text-align: left;
}

.pText{
    width: 65%;
    height:auto;
    font-size: 17px;
}

.pImageCell{
    max-width:35%;
    background-color: black;
}

.pImage{
    width:auto;
    height: 40%;
}

.idTable{
    width: 70%;
    margin-left: 150px;
}

.idRow{
    font-family: "Arial Black", sans-serif;
    line-height: 35px;
    color: ghostwhite;
    background-color: darkslategrey; 
}

.contentTable{
    width: 65%;
    margin-left: 165px;
    border: 1px solid white;
    background-color: black;
    color:ghostwhite;
}

.contentRow{
    margin-left: 50px;
    height:100%;
}

.tagRow{
    font: bold;
    border: 1px solid white;
}

.pTags{
    width: 85%;
    font-size: 15px;
    text-align: left;
}

.pModal{
    max-width: 15%;  
}

.btn{
    background-color:darksalmon;
    width: 100%;
    height: 100%;
    margin-right: 10px;
}

.btn:hover{
    background-color: crimson;
}

.bigger{
    font-size: 20px;
}