<div class="homehead">
    <h2>Austin McGlothlin:</h2> 
    <h2>The TokuGeek</h2>
    <p>{{ message }}</p>
    <br/>
</div>

<div class="homeflex">
	<div class="homebottom">
        <div class="homeprojects">
            <table>
                <tr class="projtop"><td colspan="2">Ongoing Projects:</td></tr>
                <tr ng-repeat="project in projects" ng-if="project.notable == true">
                    <td class="protitle">{{project.title}}</td>
                    <td class="buttoncol">
                        <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#{{project.modalID}}">See more</button>
                        <div ng-include="'html/portmodal.html'"></div>
                    </td>
                </tr>
            </table>
            <button><a href="/portfolio">See all projects</a></button>
        </div>
        
        <div class="homeblogs">
            <p>Recent Blog Posts</p>
            <p>Coming soon!</p>
            <button><a href="http://tokugeek.wordpress.com" target="_blank">Go to Wordpress Blog</a></button>
        </div>
    </div>
</div>